
<nav class="flex justify-between px-6 pt-10 ">

  <div class="h-full">
    
    <a href="#" class="relative bg-white inline-flex text-black items-center justify-center rounded-lg p-2 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white mb-3 md:hidden">
      <img src="../icons/menu-icon.svg" class="m-auto" />
    </a>


    <h4 class="text-base tracking-tight text-gray-400">Hi Mr. Michael</h4>
    <h2 class="text-2x1 font-bold">Welcome Back!</h2>

  </div>

  <div class="relative ml-3">
    <button type="button"
      class="relative bg-white flex rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
      <img class="h-11 w-11 rounded-full"
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt="" />
    </button>
  </div>

</nav>

<div class="p-6 mb-20">

  <section>
    <form class="py-3">
      <label for="default-search"
        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="search" id="default-search"
          class="block w-full p-4 pl-10 text-sm text-black border border-gray-50 rounded-lg"
          placeholder="Search burguer, pizza, drink or ect..." required />
      </div>
    </form>
  </section>

  <section class="py-6 pb-0">
    <div class="flex items-center justify-between py-4">
      <h3 class="text-lg font-bold tracking-tight text-gray-900">
        Drink category
      </h3>
      <a href="#" class="text-sm text-gray-400">See All</a>
    </div>
    <div class="block pb-5">
      <a href="#" class="mx-1 px-5 text-black bg-white rounded-md px-3 py-2 text-sm font-medium">All</a>
      <a href="#" class="mx-1 px-5 bg-red-300 text-white rounded-md px-3 py-2 text-sm font-medium"
        aria-current="page">🍺 Beer</a>
      <a href="#" class="mx-1 px-5 text-black bg-white rounded-md px-3 py-2 text-sm font-medium">🍷 Wine</a>
    </div>
  </section>
  <section>
    <div>
      <div class="flex items-center justify-between py-4">
        <h3 class="text-lg font-bold tracking-tight text-gray-900">
          Popular
        </h3>
        <a href="#" class="text-sm text-gray-400">See All</a>
      </div>

      <div id="product-cards" class="grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-y-0 lg:gap-x-8">
        

        
      </div>
    </div>
  </section>
</div>

<div class="md:hidden fixed flex bottom-0 w-full h-20 bg-white">
  <div class="flex w-full justify-around items-center">
    <a href="#" class="mx-1 px-5 text-black bg-white rounded-md px-3 py-2 text-sm font-medium"> <img
        class="orange-shadows" src="/icons/Subtract.png"></a>
    <a href="#" class="mx-1 px-5 text-black bg-white rounded-md px-3 py-2 text-sm font-medium"> <img
        src="/icons/2 - check out.svg"></a>
    <a href="#" class="mx-1 px-5 text-black bg-white rounded-md px-3 py-2 text-sm font-medium"> <img
        src="/icons/3 - bag.svg"></a>
    <a href="#" class="mx-1 px-5 text-black bg-white rounded-md px-3 py-2 text-sm font-medium"> <img
        src="/icons/4 - setting.svg"></a>
  </div>
</div>
