<div class="bg-gray-100 md:white ">
    
    <nav class="px-6 pt-10 mb:mb-5">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex items-center">
                <a href="/" class="relative bg-white inline-flex text-black items-center justify-center rounded-lg p-2"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <img src="/icons/left-arrow.svg" />
                </a>
            </div>

            <h3 class="font-semibold text-lg">Detail</h3>

            <div class="flex items-center">
                <a href="#"
                    class="relative bg-white inline-flex text-black items-center justify-center rounded-lg p-2"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <img src="/icons/icon-dots.svg" />
                </a>
            </div>
        </div>
    </nav>

    <section class=" container flex flex-col md:flex-row ">
        <div class="md:w-3/5">
            <div class="relative pb-10 h-96">
                <img id="product-detail-image" src="/icons/Budweiser-img.png" alt="Hand stitched, orange leather long wallet."
                    class="w-full object-contain object-center h-full" />
            </div>
        </div>

            <div class="px-6 pt-10 border custom-rounded bg-white md:bg-gray-100 md:border-none">
                <div class="pb-4">
                    <div class="flex justify-between pb-2">
                        <h1 id="product-detail-name" class="font-bold text-2xl">Modelo Especial</h1>
                        <p id="product-detail-price" class="font-bold orange-color text-2xl">$26.40</p>
                    </div>
                    <p id="product-detail-stock" class="text-gray-400">Origin: Import | Stock: 456</p>
                </div>

                <div class="pb-4">
                    <h5 class="font-medium text-base">Description</h5>
                    <p id="product-detail-information" class="text-gray-400 text-sm">
                        Selling imported beer in the US with nearly 60 million cases in
                        annual sales, growing more than 15 million cases over the past 2
                        years. A full flavored Mexican lager consistently delivering
                    </p>
                </div>

                <div class="pb-4">
                    <p class="font-medium mb-2 text-base">Size</p>
                    <ul class="flex flex-wrap" id="product-detail-skus">

                    </ul>
                </div>

                <div class="flex bottom-0 w-full h-20">
                    <div class="flex w-full justify-between items-center md:flex-row md:flex-row-reverse"">
                        <a href="#" class="p-4 text-black border rounded-md orange-border-color">
                            <img src="/icons/icon-bag.svg" class="m-auto" /></a>

                        <a href="#"
                            class="mx-1 text-white text-center bg-orange border rounded-full text-base px-3 py-4 text-sm font-medium w-80">Add
                            to cart</a>
                    </div>
                </div>
            </div>
        
    </section>
</div>