<div class="group relative">
    <div
      class="h-56 w-full overflow-hidden bg-white rounded-md group-hover:opacity-75 lg:h-72 xl:h-80 flex flex-col justify-content justify-around py-1">
      <h3 id="product-name" class="text-base font-bold tracking-tight text-gray-900 px-2">
        Leather Long Wallet
      </h3>
      <div class="relative h-3/4">
        <img id="product-image" src="/icons/Budweiser-img.png" alt="Hand stitched, orange leather long wallet."
          class="w-full object-contain object-center h-full" />
      </div>
      <h3 id="product-price" class="text-base font-bold tracking-tight text-gray-900 mt-[-4px] pl-5">
        28.75$
      </h3>
      <span
        class="bg-indigo-100 absolute h-[35px] flex w-[35px] justify-center items-center text-3xl text-[white] rounded-tl-xl rounded-br-xl bottom-0 right-0 pb-2">+</span>
    </div>
  </div>